USE [master]
GO
/****** Object:  Database [FoodStore]    Script Date: 11/27/2018 10:31:29 AM ******/
CREATE DATABASE [FoodStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DEUCALIONSQL\MSSQL\DATA\FoodStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DEUCALIONSQL\MSSQL\DATA\FoodStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/27/2018 10:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](10) NOT NULL,
	[password] [varchar](10) NOT NULL,
	[fullname] [nchar](20) NOT NULL,
	[phonenum] [int] NOT NULL,
	[address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 11/27/2018 10:31:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[name] [nvarchar](50) NOT NULL,
	[times] [int] NOT NULL,
	[price] [int] NOT NULL,
	[resid] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pic] [nvarchar](50) NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 11/27/2018 10:31:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[rating] [float] NOT NULL,
	[price] [nvarchar](255) NOT NULL,
	[type] [nvarchar](255) NOT NULL,
	[delivery] [nvarchar](255) NOT NULL,
	[prepareTime] [int] NOT NULL,
	[pic] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK__Food__resid__5441852A] FOREIGN KEY([resid])
REFERENCES [dbo].[Restaurant] ([id])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK__Food__resid__5441852A]
GO
USE [master]
GO
