body {
  background-color: rgb(243, 237, 241);
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

#logo {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  line-height: 70px;
}

.nav1 {
  width: 100%;
  height: 60px;
  background-color: #ffd64d;
}

#login {
  float: right;
  margin-right: 50px;
  vertical-align: middle;
  line-height: 60px;
}

.log {
  background-color: #00c853;
  height: 40px;
  width: 100px;
  border: none;
  color: azure;
  font-size: 17px;
  border-radius: 4px;
  margin-right: 15px;
}

#logged {
  display: none;
  float: right;
  margin-right: 50px;
  vertical-align: middle;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
}

#itemimg {
  width: 300px;
  height: 300px;
  float: left;
}

.nav2 {
  background-color: whitesmoke;
  width: 80%;
  height: 350px;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 30px;
}

#detail {
  width: 60%;
  height: 300px;
  float: left;
  text-align: left;
  margin-left: 50px;
}

p {
  margin: 5px;
}

#direct {
  font-size: 14px;
  color: rgb(78, 78, 252);
  margin-bottom: 15px;
}

#type {
  font-size: 13px;
  color: rgba(124, 131, 131, 0.5);
}

#productname {
  font-family: "Source Sans Pro";
  font-size: 25px;
  font-weight: bold;
}

#rst {
  font-size: 15px;
}
#adress {
  font-size: 15px;
}

#money {
  font-size: 15px;
  color: rgba(124, 131, 131, 0.75);
}
#price {
  font-size: 15px;
  color: rgba(124, 131, 131, 0.75);
}

.by {
  margin-top: 15px;
  padding: 5px;
  width: 100%;
  text-align: left;
  border-top: 1px solid rgba(145, 155, 155, 0.384);
}

table.by th {
  border-right: 1px solid rgba(145, 155, 155, 0.384);
  color: rgb(84, 90, 90);
  font-weight: 200;
}

table.by td {
  color: rgb(27, 29, 29);
  border-right: 1px solid rgba(145, 155, 155, 0.384);
}

.footer {
  float: left;
  background-color: rgba(46, 51, 61, 0.99);
  width: 100%;
  height: 660px;
}

.insidefooter {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100px;
  border-style: solid;
  border-color: rgba(84, 92, 92, 0.685);
  border-width: 0px 0px 1px 0px;
  color: white;
}

.list {
  width: 90%;
  text-align: left;
  margin: 10px;
}

table.list th {
  width: 25%;
  font-family: "Rubik";
  padding: 3px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(237, 238, 238, 0.836);
}

table.list td {
  font-family: "Rubik";
  padding: 3.5px;
  font-size: 15px;
  color: rgba(237, 238, 238, 0.836);
}

#buy {
  margin-top: 10px;
  background-color: #d8072a;
  height: 50px;
  width: 200px;
  border: none;
  color: azure;
  font-size: 17px;
  border-radius: 4px;
}

.nav3 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 600px;
}

#thucdon {
  font-size: 20px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  color: #d8072a;
  margin: 15px;
}
.nav31 {
  width: 15%;
  height: 300px;
  background-color: whitesmoke;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 15px;
}
.nav32 {
  width: 45%;
  min-height: 350px;
  background-color: whitesmoke;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 15px;
}
.nav33 {
  width: 25%;
  min-height: 120px;
  background-color: whitesmoke;
  float: left;
  padding: 15px;
  border-radius: 5px;
}

.nav33 > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#itemtype {
  margin-bottom: 5px;
  padding: 4px;
  font-size: 15px;
  color: #888;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}
#itemtype2 {
  margin-bottom: 5px;
  padding: 4px;
  font-size: 15px;
  color: #888;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}

#itemtype:focus {
  outline: 0;
  color: white;
  background-color: #888;
  cursor: pointer;
  overflow: hidden;
  border: none;
}

#itemtype:active {
  outline: 0;
  color: white;
  background-color: #888;
  cursor: pointer;
  overflow: hidden;
  border: none;
}

#food {
  width: 100%;
  height: 80px;
  padding: 5px;
  display: table;
  overflow: hidden;
}
#fimg {
  width: 12%;
  float: left;
}

#fdetail {
  display: table;
  width: 75%;
  float: left;
  padding-left: 15px;
  font-family: "Source Sans Pro";
}

#fname {
  font-size: 20px;
  font-weight: bold;
}

#forder {
  font-size: 14px;
  color: #888;
}

#forder > span {
  font-weight: bold;
  color: black;
}

#fprice {
  position: relative;
  display: table-cell;
  color: rgb(2, 79, 151);
  font-size: 20px;
  font-weight: bold;
  right: 35px;
  top: 10px;

  width: 10%;
}

#addfood {
  margin-top: 10px;
  height: 25px;
  width: 25px;
  font-size: 20px;
  font-weight: bold;
  background-color: #d8072a;
  color: white;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  float: left;
  position: relative;
}

#addfood:focus {
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  border: none;
}

#addfood:hover {
  background-color: #af021f;
}

#itemadded {
  /*display: none;*/
  vertical-align: center;
}

#add {
  color: white;
  margin: 3px;
  background-color: #00c853;
  outline: 0;
  border: 0;
  font-weight: bold;
}

#subtract {
  color: white;
  margin: 3px;
  background-color: #66706a;
  outline: 0;
  border: 0;
  font-weight: bold;
}

#fcount {
  color: #d8072a;
}

#fname2 {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

#fprice2 {
  color: #404140d5;
  text-align: right;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(75, 74, 74, 0.61);
}
#billrow {
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
}
#billtext1 {
  float: left;
  padding: 0;
  margin: 0;
}
#billtext2 {
  float: right;
  padding: 0;
  margin: 0;
}

#introduction {
  font-size: 25px;
  font-weight: bold;
  font-family: "Source Sans Pro";
}

#rstimg {
  width: 50%;
  height: 400px;
}
#introdetail {
  font-family: "Source Sans Pro";
}

#f1 {
  height: 80px;
}

#f2 {
  height: 200px;
}

#f3 {
  height: 200px;
}

#f4 {
  font-family: "Rubik";
  height: 100px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

#f5 {
  height: 40px;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
}

#git {
  margin: 10px;
}
.socialmedialogo {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.form-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 800px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#loginform {
  padding-top: 60px;
}
#signupform {
  padding-top: 0px;
}

.form-container {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 28%;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#logintitle {
  font-family: "Roboto Slab";
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  margin: 3px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(145, 155, 155, 0.384);
  margin-bottom: 20px;
}

.detail {
  display: block;
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
}

.inf {
  width: 90%;
  padding: 12px 20px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.inf:focus,
textarea:focus {
  border: 1px solid rgb(165, 241, 50) !important;
  box-shadow: 0 0 1px rgb(165, 241, 50) !important;
  -moz-box-shadow: 0 0 1px rgb(165, 241, 50) !important;
  -webkit-box-shadow: 0 0 1px rgb(165, 241, 50) !important;
}

input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px !important;
  outline: none !important;
}

.save {
  width: 100%;
  text-align: left;
  display: block;
  position: relative;
  float: left;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.save input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.save:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.save input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.save input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.save .checkmark:after {
  left: 4px;
  top: 2px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkmark {
  position: absolute;
  top: 3px;
  left: 10px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

#invalid {
  display: none;
  line-height: 15px;
  font-size: 13px;
  text-align: center;
  color: red;
}

.btnDang {
  width: 90%;
  height: 60px;
  margin: 5px;
  background-color: #ffd64d;
  color: aliceblue;
  font-size: 22px;
  border: none;
  border-radius: 5px;
}

label[for="dk"] {
  pointer-events: none;
  font-size: 15px;
}
#dk {
  pointer-events: all;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: #2196f3;
}
